<h1>Consejos</h1>

<section class="hero-section">
  <img [src]="heroImageSrc" alt="Reciclaje Hero" class="hero-image" />
</section>

<section class="residuos">
  <nav>
    <ul>
      <li><button [class.active]="tipo === 'organicos'" (click)="cambiarTipo('organicos')">Residuos orgánicos</button></li>
      <li><button [class.active]="tipo === 'plasticos'" (click)="cambiarTipo('plasticos')">Residuos plásticos</button></li>
      <li><button [class.active]="tipo === 'metalicos'" (click)="cambiarTipo('metalicos')">Residuos metálicos</button></li>
      <li><button [class.active]="tipo === 'electronicos'" (click)="cambiarTipo('electronicos')">Electrónicos y baterías</button></li>
    </ul>
  </nav>
</section>

<section *ngIf="consejoActual" class="contenido">
  <div class="info-box">
    <div class="texto">
      <h2>{{ consejoActual.titulo }}</h2>
      <p *ngFor="let p of consejoActual.parrafos">{{ p }}</p>
    </div>
    <div class="imagen">
      <img [src]="consejoActual.imagen" [alt]="consejoActual.alt">
    </div>
  </div>

  <div *ngIf="consejoActual.listaConsejos" class="consejo-box">
    <h3>¿Cómo hacer una compostera casera?</h3>
    <ul>
      <li *ngFor="let consejo of consejoActual.listaConsejos">{{ consejo }}</li>
    </ul>
  </div>
</section>
