:host {
  display: block;
  background-color: #ecf39e;
}


h3{
  width: 30%;
  align-content: center;
  height: 25px;
  text-align: center;
  background-color: #4F772D;
  color: white;
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 10px 0;
}

p{
  margin: 10px;
}

.panelUnirse{
  display: flex;
  justify-content: space-between;
}

.btnUnirse{
  width: 180px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #4F772D !important;
  color: white !important;
}
.btnUnirse:hover{
  background-color: #9bd66c;
  color: black;
}

.panelDetalles{
  margin: 20px 10px;
}

.detalleFilas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  gap: 5px;
}

.detalleColumnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datosFilas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos{
  font-weight: bold;
}

.descripcion{
  text-align: justify;
}

/*Panel de comentarios---------------------------------*/
.panelComentarioAcciones{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.panelComentarioAcciones h3{
  border-radius: 0 10px 10px 0;
}

.columnaBtnComentario{
  display: flex;
  gap: 20px;
  margin-right: 10px;
  justify-content: right;
}

.panelComentarios{
  list-style: none;
  padding: 0;
  width: 100%;
}

.panelMiComentario{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.miComentario{
  width: 100%;
  margin: 0;
}

.btnPublicar{
  width: 200px;
}
.btnPublicar:hover{
  background-color: #a8a8a8;
  color: white;
}

.btn{
  background-color: transparent;
}

.icono{
  height: 30px;
}

.iconoEditar:hover{

}

.sinComentarios{
  margin: 30px;
}

.comentario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d7dd81;
  padding: 15px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 15px;
}
.comentario.alterno{
  background-color: #f8ffa7;
}
