.instrucciones{
  padding: 20px;
  margin: 20px 20px;
  background-color: rgb(236, 243, 158);
  text-align: center;
  border-radius: 6px;
}

.panelForm{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  min-width: 100px;
}

.form-container{
  margin: 10px;
}

mat-form-field{
  width: 100%;
}

.panelBotones{
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  margin: 20px 0;
  justify-content: space-between;
}

.boton{
  width: 100%;
  padding: 12px;
  color: white;
}

.btnCancelar{
  color: black;
  background-color: #D9D9D9;
}
.btnCancelar:hover{
  color: white;
  background-color: #6c6c6c;
}

.btnGuardar{
  background-color: #296528;
}
.btnGuardar:hover{
  background-color: #122A10;
}

input{
  margin-left: 15px;
}
mat-label{
  margin-left: 9px;
}
