p{
  margin: 10px 0;
}

/*Panel de filtros-------------------------------------*/
.panelFiltros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

.columnaFiltro{
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  min-width: 100px;
}

.columnaFecha{
  flex: 0 0 118px;
}

.columnaBtnFiltro{
  flex: 0 0 100px;
}

.nomFiltro{
  margin-bottom: 5px;
}

.filtro{
  height:  30px;
  border-radius: 6px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.btnFiltro{
  background-color: #dddddd;
}
.btnFiltro:hover{
  background-color: #808080;
  color: white;
}

/*Lista de eventos-------------------------------------*/
.panelEventos {
  list-style: none;
  padding: 0;
  width: 100%;
  line-height: 1px;
  align-items: center;
}

.evento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf39e;
  padding: 20px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.evento.alterno {
  background-color: #2f542c;
  color: #fefef0;
}

.filasEvento{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.columnaEvento{
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  min-width: 100px;
  line-height: 15px;
  margin-right: 15px;
}

.filaBtnEvento{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.nombreEvento{
  font-size: 18px;
  margin: 20px 0;
}

.btnEvento{
  width: 180px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4F772D;
  color: white;
}
.btnEvento:hover{
  background-color: #9bd66c;
  color: black;
}

.evento.alterno .btnEvento{
  background-color: #FFECBD;
  color: black;
}
.evento.alterno .btnEvento:hover{
  background-color: #8c8355;
  color: white;
}

.sinEventos{
  line-height: 30px;
  text-align: center;
  margin-top: 50px;
}
