p{
  margin: 10px 0;
}

/*Panel de filtros-------------------------------------*/
.panelFiltros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 20px;
}

/* Centrado vertical real de todos los mat-form-field dentro de tu panel */
::ng-deep .panelFiltros .mat-mdc-form-field {
  display: flex !important;
  align-items: center !important;
  height: 48px; /* altura uniforme */
}

/* Hace que el wrapper interno ocupe todo el alto del form-field */
::ng-deep .panelFiltros .mat-mdc-text-field-wrapper {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

/* Centra el input o el valor seleccionado */
::ng-deep .panelFiltros input.mat-mdc-input-element,
::ng-deep .panelFiltros .mat-mdc-select-trigger {
  padding: 0 8px !important;
}

::ng-deep .mat-mdc-floating-label {
  top: 23px !important;
}

.columnaFiltro{
  display: flex;
  flex-direction: column;
  flex: 1 1 150px;
  min-width: 100px;
}

/*Lista de eventos-------------------------------------*/
.panelEventos {
  list-style: none;
  padding: 0;
  width: 100%;
  line-height: 1px;
  align-items: center;
}

.evento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf396;
  padding: 20px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.evento.alterno {
  background-color: #326a2c;
  color: #fefef0;
}

.filasEvento{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.columnaEvento{
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  min-width: 100px;
  line-height: 15px;
  margin-right: 15px;
}

.filaBtnEvento{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.nombreEvento{
  font-size: 18px;
  margin: 20px 0;
}

.btnEvento{
  width: 180px;
  padding: 10px;
  margin-bottom: 10px;
}

.btnUnirse{
  background-color: #4F772D !important;
  color: white !important;
}

.evento.alterno .btnUnirse{
  background-color: #FFECBD !important;
  color: black !important;
}

.sinEventos{
  line-height: 30px;
  text-align: center;
  margin-top: 50px;
}
