<h1>Mi Perfil</h1>
<div class="perfil-container">

  <div class="action-buttons">
    <button mat-flat-button color="warn" (click)="mostrarEliminar()">
      <mat-icon>delete_forever</mat-icon> Eliminar cuenta
    </button>

    <div class="right-buttons">
      <button mat-flat-button color="primary" (click)="mostrarCerrar()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
      <button mat-flat-button color="accent" [routerLink]="'/editar-perfil'">
        <mat-icon>edit</mat-icon> Editar Perfil
      </button>
    </div>
  </div>

  <div class="perfil-info">

    <div class="profile-photo-area">
      <img src="/icono-default-1.png" alt="Foto de Perfil" class="profile-photo" />
    </div>

    <div class="profile-details-view">
      <mat-card class="panelDatos">
        <mat-card-content>
          <p><strong>DNI:</strong> {{ vecino.dni }}</p>
          <p><strong>Nombre:</strong> {{ vecino.nombre }}</p>
          <p><strong>Edad:</strong> {{ vecino.edad }}</p>
          <p><strong>Género:</strong> {{ vecino.genero }}</p>
          <p><strong>Distrito:</strong> {{ vecino.distrito }}</p>
        </mat-card-content>
      </mat-card>

      <div class="stats-container">
        <mat-card class="stat-box puesto">
          <p>Puesto</p><h3> {{ vecino.puesto }}</h3>
        </mat-card>

        <mat-card class="stat-box puntaje">
          <p>Puntaje</p><h3>{{ vecino.puntajetotal }}</h3>
        </mat-card>
      </div>
    </div>
</div>
</div>

@if(eliminarVisible){
  <div class="panelPopUp">
    <div class="popUp">
      <h3>¿Seguro que desea eliminar su cuenta?</h3>
      <p>¡No lo haga, el planeta lo necesita! :(</p> &nbsp;

      <div class="popupBotones">
        <button class="btnCancelar botonPopUp" (click)="cerrarEliminar()">Cancelar</button>
        <button class="btnEliminar botonPopUp" (click)="eliminarCuenta()">Eliminar</button>
      </div>
    </div>
  </div>
}

@if(cerrarVisible){
  <div class="panelPopUp">
    <div class="popUp">
      <h3>¿Seguro que desea cerrar sesion?</h3>
      <p>Siga reciclando y haciendo al Perú un país más limpio</p> &nbsp;

      <div class="popupBotones">
        <button class="btnCancelar botonPopUp" (click)="cerrarCerrar()">Cancelar</button>
        <button class="btnCerrar botonPopUp" (click)="cerrarSesion()">Cerrar sesión</button>
      </div>
    </div>
  </div>
}
