<h1>Mi Perfil</h1>
<div class="perfil-container">

  <mat-divider></mat-divider>

  <div *ngIf="!isEditing" class="action-buttons">
    <button mat-flat-button color="warn" (click)="abrirDialogoEliminarCuenta()">
      <mat-icon>delete_forever</mat-icon> Eliminar cuenta
    </button>

    <div class="right-buttons">
      <button mat-stroked-button color="primary" (click)="abrirDialogoCerrarSesion()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
      <button mat-flat-button color="accent" (click)="toggleEdit(true)">
        <mat-icon>edit</mat-icon> Editar Perfil
      </button>
    </div>
  </div>

  <div class="perfil-info">

    <div class="profile-photo-area">
      <img src="https://i.imgur.com/gKj3G0T.png" alt="Foto de Perfil" class="profile-photo" />
      <button *ngIf="isEditing" mat-button color="primary">
        Cambiar Foto <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div *ngIf="!isEditing" class="profile-details-view">
      <mat-card>
        <mat-card-content>
          <p><strong>DNI:</strong> {{ datosPerfil.dni }}</p>
          <p><strong>Nombre:</strong> {{ datosPerfil.nombre }}</p>
          <p><strong>Edad:</strong> {{ datosPerfil.edad }}</p>
          <p><strong>Género:</strong> {{ datosPerfil.genero }}</p>
          <p><strong>Distrito:</strong> {{ datosPerfil.distrito }}</p>
        </mat-card-content>
      </mat-card>

      <div class="stats-container">
        <mat-card class="stat-box puesto">
          <span>Puesto</span>
          <h3>#{{ datosPerfil.puesto }}</h3>
        </mat-card>

        <mat-card class="stat-box puntaje">
          <span>Puntaje acumulado</span>
          <h3>{{ datosPerfil.puntajeAcumulado }} Pts</h3>
        </mat-card>
      </div>
    </div>

  <form *ngIf="isEditing" [formGroup]="perfilForm" (ngSubmit)="guardarPerfil()" class="profile-edit-form">

    <mat-form-field appearance="outline" class="campo">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" type="text" maxlength="8">
      <mat-error *ngIf="dniControl?.invalid && (dniControl?.dirty || dniControl?.touched)">
        El DNI debe contener 8 dígitos.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="perfilForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Edad</mat-label>
      <input matInput formControlName="edad" type="number">
      <mat-error *ngIf="perfilForm.get('edad')?.hasError('min')">
        Debes ser mayor de 18 años.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Género</mat-label>
      <mat-select formControlName="genero">
        <mat-option *ngFor="let g of generos" [value]="g">{{ g }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Distrito</mat-label>
      <mat-select formControlName="distrito">
        <mat-option *ngFor="let d of distritos" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="edit-buttons">
      <button mat-button type="button" (click)="toggleEdit(false)">Volver</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="perfilForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>

<ng-template #eliminarCuentaDialog>
  <div class="panelConfirmacion">
    <h2 mat-dialog-title>¿Seguro que desea eliminar su cuenta?</h2>
    <p class="mensaje">¡No se vaya, el planeta lo necesita!</p>
    <mat-dialog-actions align="center">
      <button mat-button class="btnVolver" mat-dialog-close="cancelar">Cancelar</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="'eliminar'" >Eliminar</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #cerrarSesionDialog>
  <div class="panelConfirmacion">
    <h2 mat-dialog-title>¿Seguro que desea cerrar sesión?</h2>
    <p class="mensaje">¡Mejor sigue registrando reciclaje y gana puntos!</p>
    <mat-dialog-actions align="center">
      <button mat-button class="btnVolver" mat-dialog-close="cancelar">Cancelar</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="'cerrar'" >Cerrar sesión</button>
    </mat-dialog-actions>
  </div>
</ng-template>
</div>
