@if(!esVecino() && !esMunicipalidad()){
  <nav class="menu">
    <div class="columnasMenu logo">
      <a [routerLink]="'/login'">
        <img src="/logo-ecocycle.png" alt="Logo" class="icono">
      </a>
    </div>

    <div class="columnasMenu">
      <a [routerLink]="'/login'" class="enlaceMenu"><span>Inicio</span></a>
      <a [routerLink]="'/contacto'" class="enlaceMenu"><span>Contáctanos</span></a>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Rankings</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/ranking-vecinos'">Ranking de vecinos</a></li>
          <li><a [routerLink]="'/ranking-municipalidades'">Ranking de municipalidades</a></li>
        </ul>
      </div>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Estadísticas</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/estadisticas'">Estadísticas Ecocycle</a></li>
          <li><a [routerLink]="'/estadisticas-mundiales'">Estadísticas mundiales</a></li>
          <li><a [routerLink]="'/calculadora-huella-carbono'">Calculadora de huella de carbono</a></li>
        </ul>
      </div>
    </div>
  </nav>
}


@if (esVecino()) {
  <nav class="menu">
    <div class="columnasMenu logo">
      <a [routerLink]="'/inicio-vecino'">
        <img src="/logo-ecocycle.png" alt="Logo" class="icono">
      </a>
    </div>

    <div class="columnasMenu">
      <a [routerLink]="'/inicio-vecino'" class="enlaceMenu"><span>Inicio</span></a>
      <a [routerLink]="'/consejos'" class="enlaceMenu"><span>Consejos</span></a>
      <a [routerLink]="'/eventos-disponibles'" class="enlaceMenu"><span>Eventos</span></a>
      <a [routerLink]="'/contacto'" class="enlaceMenu"><span>Contáctanos</span></a>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Rankings</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/ranking-vecinos'">Ranking de vecinos</a></li>
          <li><a [routerLink]="'/ranking-municipalidades'">Ranking de municipalidades</a></li>
        </ul>
      </div>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Estadísticas</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/estadisticas'">Estadísticas Ecocycle</a></li>
          <li><a [routerLink]="'/estadisticas-mundiales'">Estadísticas mundiales</a></li>
          <li><a [routerLink]="'/calculadora-huella-carbono'">Calculadora de huella de carbono</a></li>
        </ul>
      </div>

      <div class="menuPerfil">
        <img src="{{fotos[icono]}}" alt="Perfil" class="iconoPerfil"/>
        <ul class="submenuPerfil">
          <li><a [routerLink]="'/perfil'">Mi perfil</a></li>
          <li><a [routerLink]="'/mi-reciclaje'">Mi reciclaje</a></li>
          <li><a [routerLink]="'/mis-eventos'">Mis eventos</a></li>
          <li><a [routerLink]="'/logros'">Logros</a></li>
        </ul>
      </div>
    </div>
  </nav>
}


@if (esMunicipalidad()) {
  <nav class="menu">
    <div class="columnasMenu logo">
      <a [routerLink]="'/inicio-muni'" >
        <img src="/logo-ecocycle.png" alt="Logo" class="icono">
      </a>
    </div>

    <div class="columnasMenu">
      <a [routerLink]="'/inicio-muni'" class="enlaceMenu"><span>Inicio</span></a>
      <a [routerLink]="'/reciclaje'" class="enlaceMenu"><span>Reciclaje</span></a>
      <a [routerLink]="'/eventos'" class="enlaceMenu"><span>Eventos</span></a>
      <a [routerLink]="'/contacto'" class="enlaceMenu"><span>Contáctanos</span></a>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Rankings</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/ranking-vecinos'">Ranking de vecinos</a></li>
          <li><a [routerLink]="'/ranking-municipalidades'">Ranking de municipalidades</a></li>
        </ul>
      </div>

      <div class="menuRanking">
        <a class="enlaceMenu enlaceMenuRanking"><span>Estadísticas</span></a>
        <ul class="submenuRanking">
          <li><a [routerLink]="'/estadisticas'">Estadísticas Ecocycle</a></li>
          <li><a [routerLink]="'/estadisticas-mundiales'">Estadísticas mundiales</a></li>
          <li><a [routerLink]="'/calculadora-huella-carbono'">Calculadora de huella de carbono</a></li>
        </ul>
      </div>

      <div class="menuPerfil">
        <img src="/icono-municipalidades.PNG" alt="Perfil" class="iconoPerfil" />
        <ul class="submenuPerfil">
          <li><a [routerLink]="'/actualizar-contrasena'">Actualizar contraseña</a></li>
          <li><a [routerLink]="'/login'">Cerrar sesión</a></li>

        </ul>
      </div>
    </div>
  </nav>
}
