h2{
  width: 100%;
  text-align: center;
  background-color: #4F772D;
  color: white;
  font-weight: lighter;
  padding: 10px 0;
  margin: 0;
}

p{
  margin: 10px;
}

.panelUnirse{
  display: flex;
  justify-content: space-between;
}

.panelUnirse h2{
  width: 30%;
  align-content: center;
  height: 30px;
}

.btnUnirse{
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-color: #4F772D;
  color: white;
}
.btnUnirse:hover{
  background-color: #9bd66c;
  color: black;
}

.panelDetalles{
  margin-bottom: 15px;
}

.detalleFilas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf39e;
  padding: 20px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 6px;
  gap: 5px;
}

.detalleColumnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datosFilas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos{
  font-weight: bold;
}

.descripcion{
  text-align: justify;
}

/*Panel de comentarios---------------------------------*/
.panelComentarios{
  list-style: none;
  padding: 0;
  width: 100%;
}

.sinComentarios{
  margin: 30px;
}

.comentario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 15px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 15px;
}
.comentario.alterno{
  background-color: #e2e2e2;
}
