<h1>Nuevo evento</h1>

<mat-card class="instrucciones">
  <mat-card-content>
    <p>¡Completa todos los datos del siguiente formulario para crear un evento de reciclaje!</p>
  </mat-card-content>
</mat-card>

<mat-card class="panelForm">
  <mat-card-content>
    <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
      <div class="panelDatosFila">
        <div class="panelDatosColumna">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput  type="text" formControlName="nombre" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Peso objetivo (kg)</mat-label>
            <input matInput type="number" formControlName="pesoObjetivo"required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bonificación</mat-label>
            <input matInput type="number" formControlName="bonificacion" required/>
          </mat-form-field>
        </div>

        <div class="panelDatosColumna">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" required>
              <mat-option value="Vidrio">Vidrio</mat-option>
              <mat-option value="Plástico">Plástico</mat-option>
              <mat-option value="Papel">Papel</mat-option>
              <mat-option value="Electrónicos">Electrónicos</mat-option>
              <mat-option value="Orgánicos">Orgánicos</mat-option>
              <mat-option value="Metal/Lata">Metal/Lata</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Método</mat-label>
            <mat-select formControlName="metodo" required>
              <mat-option value="Centro de reciclaje de la municipalidad">Centro de reciclaje de la municipalidad</mat-option>
              <mat-option value="Camión de reciclaje">Camión de reciclaje</mat-option>
              <mat-option value="En casa">En casa</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="columnaFiltro columnaFecha">
            <mat-label>Fecha inicio</mat-label>
            <input matInput [matDatepicker]="pickerMin" formControlName="fechaInicio">
            <mat-datepicker-toggle matIconSuffix [for]="pickerMin"></mat-datepicker-toggle>
            <mat-datepicker #pickerMin></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="columnaFiltro columnaFecha">
            <mat-label>Fecha fin</mat-label>
            <input matInput [matDatepicker]="pickerMax" formControlName="fechaFin">
            <mat-datepicker-toggle matIconSuffix [for]="pickerMax"></mat-datepicker-toggle>
            <mat-datepicker #pickerMax></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="panelDatosFila panelDescripcion">
        <mat-form-field  class="descripcion">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" required></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div class="panelDatosFila panelBtnCrear">
  <button mat-raised-button type="button" class="btnCrear" [disabled]="formRegistro.invalid" (click)="onSubmit()">
    Crear evento
  </button>
</div>
