:host {
  display: block;
  background-color: #ecf39e;
}

.instrucciones{
  padding: 10px;
  margin: 20px;
  background-color: white !important;
  text-align: center;
  border-radius: 6px;
}

.panelForm{
  margin: 20px;
}

.panelDatosFila {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 25px;
  justify-content: space-between;
}

.panelDatosColumna{
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  min-width: 100px;
  line-height: 30px;
}

.dato{
  height: 40px;
  border-radius: 6px;
  border: 1px solid gray;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.descripcion{
  width: 100%;
  height: 100px;
}

.panelBtnCrear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCrear {
  background-color: rgb(144, 169, 85) !important;
  color: white !important;
  padding: 12px 50px;
}

