<h1>{{evento.nombre}}</h1>
<div class="panelUnirse">
  <h3>Detalles</h3>
  <button mat-raised-button type="submit" class="btnUnirse" (click)="openDialog()"><strong>Retirarme de evento</strong></button>
</div>

<mat-card class="panelDetalles">
  <mat-card-content>
    <div class="detalleFilas">
      <p class="descripcion">{{ evento.descripcion }}</p>
      <div class="detalleColumnas datos">
        <div class="datosFilas">
          <p>Tipo: {{evento.tipo}}</p>
          <p>Peso objetivo: {{evento.pesoObjetivo}}</p>
        </div>

        <div class="datosFilas">
          <p>Método: {{evento.metodo}}</p>
          <p>Peso actual: {{evento.pesoActual}}</p>
        </div>

        <div class="datosFilas">
          <p>Bonificación: {{evento.bonificacion}}</p>
        </div>

        <div class="datosFilas">
          <p>Fecha de inicio: {{evento.fechaInicio  | date:'dd/MM/yyyy'}}</p>
          <p>Fecha de fin: {{evento.fechaFin| date:'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


  <div class="panelComentarioAcciones">
    <h3>Comentarios</h3>
    @if (accionesComentario){
      <div class="columnaBtnComentario">
        <button mat-raised-button type="button" class="botonEvento btnEditarEvento" (click)="accionesComentario=false">Editar comentario</button>
        <button mat-raised-button color="warn" type="button" class="botonEvento btnEliminarEvento" (click)="eliminarComentario()">Eliminar comentario</button>
      </div>
    }
  </div>
  @if (!accionesComentario){
    <div class="panelMiComentario">
      <form [formGroup]="formComentario">
        <mat-form-field class="miComentario">
          <textarea matInput formControlName="comentario" id="comentario" required></textarea>
        </mat-form-field>
          <div class="columnaBtnComentario">
            <button mat-raised-button type="submit" class="btnPublicar" [disabled]="formComentario.invalid" (click)="publicarComentario()">
              Publicar comentario</button>
          </div>
      </form>
    </div>
  }

<div class="panelComentarios">
  @if (comentarios.data.length>0) {
    @for (comentario of comentarios.data; track i; let i = $index) {
      <li class="comentario" [class.alterno]="i % 2 !== 0">
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.comentario}}</p>
      </li>
    }
  }
  @else {
    <p class="sinComentarios">Este evento aún no cuenta con comentarios</p>
  }
</div>
