.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-btn {
  background-color: #d9d9d9;
  color: #000;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #9bd66c;
  color: black;
}


.acerca-nosotros {
  padding: 60px 10%;
  background-color: #ffffff;
  text-align: center;
}

.acerca-nosotros h2 {
  font-size: 28px;
  font-weight: 600;
  color: #1b1b1b;
  margin-bottom: 40px;
}

.bloque {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.icono img {
  width: 240px;
  height: 240px;
}

.imagen img {
  width: 380px;
  height: 240px;
  border-radius: 10px;
}

.texto {
  max-width: 500px;
  border-radius: 12px;
  padding: 25px 30px;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  text-align: justify;
}

.texto.verde {
  background-color: #88c56e;
  clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 50%, calc(100% - 25px) 100%, 0 100%);

}

.texto.amarillo {
  background-color: #f8f79d;
}

.bloque.invertido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .hero-section {
    height: 250px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .bloque {
    flex-direction: column;
  }

  .bloque.invertido {
    flex-direction: column;
  }

  .texto {
    text-align: center;
  }

  .imagen img {
    width: 90%;
  }
}
