.perfil-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}

.btnVolver{
  background-color: #d9d9d9;
  padding: 10px 30px;
}
.btnVolver:hover{
  background-color: #808080;
  color: white;
}

.perfil-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 6px;
}

.profile-photo {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 4px solid #9bd66c;
}

.panelForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.formRegistro {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.formRegistro mat-form-field {
  flex: 1 1 calc(50% - 20px);
  min-width: 400px;
  width: 100%;
}

.btnGuardar{
  background-color: #46783c;
  color: white;
  padding: 10px 30px;
}
.btnGuardar:hover{
  background-color: #264119;
}
