<h1>Editar perfil</h1>

<div class="perfil-container">
  <div class="action-buttons">
    <button type="submit" class="btnVolver" [routerLink]="'/perfil'">Volver</button>
  </div>

   <div class="perfil-info">

    <div class="profile-photo-area">
      <img src="/icono-default-1.png" alt="Foto de Perfil" class="profile-photo" />
    </div>
     <div class="panelForm">
       <form [formGroup]="formModificar"  class="formRegistro" (ngSubmit)="modificar()">
         <mat-form-field appearance="fill">
           <mat-label>DNI</mat-label>
           <input matInput maxlength="8" formControlName="dni"/>
         </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label>Contraseña</mat-label>
           <input matInput type="password" formControlName="contrasena"/>
         </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label >Nombre</mat-label>
           <input matInput formControlName="nombre"/>
         </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label>Edad</mat-label>
           <input matInput type="number" formControlName="edad" />
         </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label>Género</mat-label>
           <mat-select id="genero" formControlName="genero">
             <mat-option value="M">Masculino</mat-option>
             <mat-option value="F">Femenino</mat-option>
           </mat-select>
         </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label>Distrito</mat-label>
           <mat-select id="distrito" formControlName="distrito">
             <mat-option value="San Borja">San Borja</mat-option>
             <mat-option value="Surquillo">Surquillo</mat-option>
             <mat-option value="Surco">Surco</mat-option>
             <mat-option value="Miraflores">Miraflores</mat-option>
             <mat-option value="Barranco">Barranco</mat-option>
             <mat-option value="Villa el Salvador">Villa el Salvador</mat-option>
             <mat-option value="Ate">Ate</mat-option>
             <mat-option value="San Isidro">San Isidro</mat-option>
             <mat-option value="San Miguel">San Miguel</mat-option>
             <mat-option value="Chorrillos">Chorrillos</mat-option>
           </mat-select>
         </mat-form-field>

         <button type="submit" class="btnGuardar" [disabled]="formModificar.invalid">Guardar</button>
       </form>
     </div>
  </div>
</div>
