.panelDistrito{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filtroDistrito{
  margin: 30px 30px 0 30px;
  width: 100%;
}

::ng-deep .panelDistrito .mat-mdc-form-field {
  display: flex !important;
  align-items: center !important;
  height: 48px; /* altura uniforme */
}

/* Hace que el wrapper interno ocupe todo el alto del form-field */
::ng-deep .panelDistrito .mat-mdc-text-field-wrapper {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

/* Centra el input o el valor seleccionado */
::ng-deep .panelDistrito input.mat-mdc-input-element,
::ng-deep .panelDistrito .mat-mdc-select-trigger {
  padding: 0 8px !important;
}

::ng-deep .mat-mdc-floating-label {
  top: 23px !important;
}

.panelEventoLogrados{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cantidadEventos{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1 200px;
  margin: 30px 30px 10px 30px;
}

.tipoCantidad{
  background-color: #90A955;
  padding: 20px 0;
  color: white;
  border-radius: 6px 0 0 6px;
  text-align: center;
  flex: 1 1 200px;
}

.cantidadTipoEventos{
  background-color: #ECF39E;
  padding: 20px 0;
  min-width: 200px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  flex: 1 1 200px;
}

.panelTablaResiduos{
  margin: 20px 30px;
}

.panelTablaResiduos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mat-mdc-header-row {
  background-color: #ECF39E;
}
