<h1>Estadísticas</h1>

<div class="panelDistrito">
  <mat-form-field appearance="outline" class="filtroDistrito">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="distrito" (selectionChange)="filtrarDistrito()">
      <mat-option class="opcion" value="">Todos</mat-option>
      <mat-option value="San Borja">San Borja</mat-option>
      <mat-option value="Surco">Surco</mat-option>
      <mat-option value="Surquillo">Surquillo</mat-option>
      <mat-option value="Miraflores">Miraflores</mat-option>
      <mat-option value="Barranco">Barranco</mat-option>
      <mat-option value="Villa el Salvador">Villa el Salvador</mat-option>
      <mat-option value="Ate">Ate</mat-option>
      <mat-option value="San Isidro">San Isidro</mat-option>
      <mat-option value="San Miguel">San Miguel</mat-option>
      <mat-option value="Chorrillos">Chorrillos</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="panelEventoLogrados">
  <div class="cantidadEventos">
    <p class="tipoCantidad">Eventos logrados</p>
    <p class="cantidadTipoEventos">{{cantidadEventos.cantidadEventosLogrados}}</p>
  </div>

  <div class="cantidadEventos">
    <p class="tipoCantidad">Eventos sin lograr</p>
    <p class="cantidadTipoEventos">{{cantidadEventos.cantidadEventosSinLograr}}</p>
  </div>
</div>

<div class="panelTablaResiduos">
  <table mat-table [dataSource]="dataSourceTablaResiduos">
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo de residuo</th>
      <td mat-cell *matCellDef = "let element">{{element.tipo}}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad de registros</th>
      <td mat-cell *matCellDef = "let element">{{element.cantidad}}</td>
    </ng-container>

    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef>Peso total (kg)</th>
      <td mat-cell *matCellDef = "let element">{{element.peso}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef = "columnasTablaResiduos"></tr>
    <tr mat-row *matRowDef = "let row; columns: columnasTablaResiduos;"></tr>
  </table>
</div>
