<h1>{{evento.nombre}}</h1>

<div class="panelDetalles">
  <div class="detalleFilas">
    <p class="descripcion">{{ evento.descripcion }}</p>
    <div class="detalleColumnas datos">
      <div class="datosFilas">
        <p>Tipo: {{evento.tipo}}</p>
        <p>Peso objetivo: {{evento.pesoObjetivo}}</p>
      </div>

      <div class="datosFilas">
        <p>Método: {{evento.metodo}}</p>
        <p>Peso actual: {{evento.pesoActual}}</p>
      </div>

      <div class="datosFilas">
        <p>Bonificación: {{evento.bonificacion}}</p>
      </div>

      <div class="datosFilas">
        <p>Fecha de inicio: {{evento.fechaInicio}}</p>
        <p>Fecha de fin: {{evento.fechaFin}}</p>
      </div>
    </div>
  </div>
</div>

<h2>Comentarios</h2>
<div class="panelComentarios">
  @if (comentarios.length>0) {
    @for (comentario of comentarios; track comentario.id; let i = $index) {
      <li class="comentario" [class.alterno]="i % 2 !== 0">
        <div class="comentarioColumnas">
          <p><strong>{{comentario.nombre}}</strong></p>
          <button type="submit" class="btnEliminarComentario"><img src="/tacho-3.png" alt="Eliminar evento" class="iconoEliminar"></button>
        </div>
        <p>{{comentario.comentario}}</p>
      </li>
    }
  }
  @else {
    <p class="sinComentarios">Este evento aún no cuenta con comentarios</p>
  }
</div>

<h2>Estadísticas</h2>

<div class="panelBotones">
  <button type="button" class="botonEvento btnEditarEvento" (click)="editarEvento()">Editar</button>
  <button type="button" class="botonEvento btnEliminarEvento" (click)="mostrarPopUp()">Eliminar</button>
</div>

@if(popUpVisible){
  <div class="panelPopUp">
    <div class="popUp">
      <h3>¿Seguro que desea eliminar este evento?</h3>
      <p>Este será eliminado permanentemente y no habrá forma de recuperarlo.</p>

      <div class="popupBotones">
        <button class="btnCancelar botonPopUp" (click)="cerrarPopUp()">Cancelar</button>
        <button class="btnEliminar botonPopUp" (click)="eliminar(evento.idEvento)">Eliminar</button>
      </div>
    </div>
  </div>
}
