:host {
  display: block;
  background-color: #ecf39e;
}


h3{
  width: 30%;
  align-content: center;
  height: 25px;
  text-align: center;
  background-color: #4F772D;
  color: white;
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 10px 0;
}

.panelAcciones{
  display: flex;
  justify-content: space-between;
}

/*Panel botones-------------------------------------*/
.botones{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
}

p{
  margin: 10px 0;
}

.panelDetalles{
  margin: 20px;
  background-color: white;
}

.detalleFilas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  gap: 5px;
}

.detalleColumnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datosFilas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos{
  font-weight: bold;
}

.descripcion{
  text-align: justify;
}

/*Panel de comentarios---------------------------------*/
.panelComentarios{
  list-style: none;
  padding: 0;
  width: 100%;
  line-height: 10px;
  margin-bottom: 20px;
}

.tituloComentario{
  border-radius: 0 10px 10px 0;
}

.sinComentarios{
  margin: 30px;
}

.comentario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d7dd81;
  padding: 15px 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 15px;
}
.comentario.alterno{
  background-color: #f8ffa7;
}

.comentarioColumnas{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.btnEliminarComentario{
  background: none;
  padding: 0;
  margin: 0;
}
.iconoEliminar{
  height: 24px;
}

/*Panel estadísticas--------------------------------*/
.cardGraficos{
  margin: 20px;
  margin-top: 0;
}

.containerGraficos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.graficos {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

canvas{
  margin: 0;
  padding: 0;
}

.graficoTitulo{
  padding: 0;
  margin: 0;
}
