.menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #064C10;
  height: 60px;
  padding-left: 10px;
}

.columnasMenu {
  display: flex;
  align-items: stretch;
}

.enlaceMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  background-color: #064C10;
}

.enlaceMenu:hover {
  background-color: #90A955;
}

.icono {
  height: 40px;
  object-fit: contain;
}

.logo{
  align-items: center;
}
