.contenedorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f3;
}

.login-container {
  width: 400px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  text-align: center;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoEmpresa {
  width: 90px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #2e7d32;
  font-size: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campoFormulario {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 18px;
}

.campoFormulario label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.campoFormulario input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.enlaceOlvido {
  text-align: right;
  margin-bottom: 15px;
}

.enlaceOlvido a {
  font-size: 13px;
  color: #2f542c;
  text-decoration: none;
}

.enlaceOlvido a:hover {
  text-decoration: underline;
}

.btnIngresar {
  background-color: #ccff9b !important;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.textoRegistro {
  margin-top: 15px;
  font-size: 14px;
}

.textoRegistro a {
  color: #2f542c;
  text-decoration: none;
  font-weight: bold;
}

.textoRegistro a:hover {
  text-decoration: underline;
}
