<div class="contenedorLogin">
  <div class="login-container">
    <div class="login-header">
      <img src="/logo-ecocycle.png" alt="Logo EcoCycle" class="logoEmpresa">
      <h2>Inicia Sesión</h2>
    </div>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput maxlength="8" formControlName="dni">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label >Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena">
      </mat-form-field>

      <button type="submit" class="btnIngresar" [disabled]="formLogin.invalid">Ingresar</button>

      <div class="textoRegistro">
        <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
      </div>
    </form>
  </div>
</div>
