<section class="hero-section">
  <img src="/Inicio-hero.png" alt="Reciclaje" class="hero-image" />

  <div class="hero-content">
    <button class="hero-btn" [routerLink]="'/eventos'">Registra tu evento</button>
  </div>
</section>

<section class="acerca-nosotros">
  <h2>Acerca de nosotros</h2>

  <div class="bloque">
    <div class="icono">
      <img src="/Ecocycle-Pops.png" alt="Icono verde" />
    </div>
    <div class="texto verde">
      <p>
        Estamos aquí para crear un verdadero impacto positivo en el medio ambiente y
        nuestro planeta, brindando información de confianza acerca de como
        desechar nuestros residuos o como poder reciclarlos de manera segura y correcta.
      </p>
    </div>
  </div>

  <div class="bloque invertido">
    <div class="texto amarillo">
      <p>
        Nuestro objetivo es mejorar la gestión de residuos en Lima Metropolitana
        facilitando el acceso a información, tecnología y consejos prácticos que
        promuevan el reciclaje, educando a personas y cuidando del medio ambiente.
      </p>
    </div>

    <div class="imagen">
      <img src="/Inicio-img1.png" alt="Personas reciclando" />
    </div>

  </div>
</section>
