<h1>{{evento.nombre}}</h1>
<div class="panelUnirse">
  <h3>Detalles</h3>
  <a [routerLink]="[]"><button mat-raised-button type="submit" class="btnUnirse" (click)="unirseEvento()"><strong>Unirme al evento</strong></button></a>
</div>

<mat-card class="panelDetalles">
  <mat-card-content>
    <div class="detalleFilas">
      <p class="descripcion">{{ evento.descripcion }}</p>
      <div class="detalleColumnas datos">
        <div class="datosFilas">
          <p>Tipo: {{evento.tipo}}</p>
          <p>Peso objetivo: {{evento.pesoObjetivo}}</p>
        </div>

        <div class="datosFilas">
          <p>Método: {{evento.metodo}}</p>
          <p>Peso actual: {{evento.pesoActual}}</p>
        </div>

        <div class="datosFilas">
          <p>Bonificación: {{evento.bonificacion}}</p>
        </div>

        <div class="datosFilas">
          <p>Fecha de inicio: {{evento.fechaInicio | date:'dd/MM/yyyy'}}</p>
          <p>Fecha de fin: {{evento.fechaFin | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<h3 class="tituloComentario">Comentarios</h3>
<div class="panelComentarios">
  @if (comentarios.data.length>0) {
    @for (comentario of comentarios.data; track i; let i = $index) {
      <li class="comentario" [class.alterno]="i % 2 !== 0">
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.comentario}}</p>
      </li>
    }
  }
  @else {
    <p class="sinComentarios">Este evento aún no cuenta con comentarios</p>
  }
</div>
