.perfil-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}

.action-buttons button[color="warn"] {
  background-color: #d9534f;
  color: white;
  border-radius: 6px;
}
.action-buttons .right-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons button[color="primary"] {
  background-color: #878787;
  border-radius: 6px;
}

.action-buttons button[color="accent"] {
  background-color: #7bb04b;
  border-radius: 6px;
}

.perfil-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 6px;
}

.profile-photo {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 8px solid #9bd66c;
}

.profile-photo-area button {
  background-color: #9bd66c;
  color: black;
  font-weight: 500;
  border-radius: 6px;
}

.profile-photo-area button:hover {
  background-color: #7fc65a;
}

.profile-details-view{
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
}


mat-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.panelDatos{
  padding: 10px;
}

mat-card-content p {
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
}


.stats-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  display: flex;
  flex: 1 1 180px;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.stat-box h3{
  margin:0;
}

.stat-box.puesto {
  background-color: #9bd66c;
  color: black;
}

.stat-box.puntaje {
  background-color: #31572c;
}
