.panelDistrito{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filtroDistrito{
  margin: 30px 30px 0 30px;
  width: 100%;
}


.panelGraficos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 50px;
}

.grafico{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie{
  width: 30%;
}

.dual{
  width: 60%;
}
